.table-users-admin {
  &__text {
    text-transform: lowercase;
  }
  &__text::first-letter {
    text-transform: uppercase;
  }
  td {
    /* los td que tengan status  */
    &.status {
      .icon {
        /* los iconos close y check seran de este color */
        &.close {
          color: #f00;
        }
        &.check {
          color: #00b100;
        }
      }
    }
  }
}
